<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.algebra.sofanba">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SofaNBA">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDeed-BDiUS66DSIl2MYGq-2xoIvS9hNd8" />

        <activity
            android:name=".MatchActivity"
            android:exported="false"
            android:label="@string/title_activity_match"
            android:theme="@style/MatchActivityTheme" />
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:theme="@style/AboutTheme" />
        <activity
            android:name=".PlayerActivity"
            android:exported="false"
            android:theme="@style/PlayerActivityTheme" />
        <activity
            android:name=".TeamActivity"
            android:exported="false"
            android:label="@string/title_activity_team"
            android:theme="@style/TeamActivityTheme" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>